{% extends 'layout.twig' %}

{% block body %}
    <ul class="nav nav-pills nav-justified">
        <li><a href="/preprocessing">Preprocessing</a></li>
        <li><a href="/">Features Selection</a></li>
        <li class="active"><a href="/classifiers">Classifiers</a></li>
    </ul>

    <div class="row" style="margin-top: 30px;">
        <form method="POST">
            <div class="col-md-8">
                <p>{{ features }}</p>
                <div class="form-group">
                    <label for="sel1">Classifier:</label>
                    <select class="form-control" id="sel1" name="classifier">
                        <option {% if classifier == 'nn' %}selected{% endif %} value="nn">NN</option>
                        <option {% if classifier == 'knn' %}selected{% endif %} value="knn">k-NN</option>
                        <option {% if classifier == 'nm' %}selected{% endif %} value="nm">NM</option>
                        <option {% if classifier == 'knm' %}selected{% endif %} value="knm">k-NM</option>
                        <option {% if classifier == 'all' %}selected{% endif %} value="all">All</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">k:</label>
                    <select class="form-control" id="sel1" name="k">
                        {% for i in range(1, 40) %}
                            <option {{ i == k ? 'selected' : '' }}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group type-data">
                    <div class="radio" style="margin-bottom: 20px;">
                        <label>
                            <input type="radio" name="generate_data" value="percentage" {% if generate_data == 'percentage' %}checked{% endif %}>
                            <span>Train part (%):</span>
                            <input type="text" class="form-control" value="{{ train_part ? train_part : 0 }}" id="train_part" name="train_part">
                        </label>
                    </div>

                    <div class="radio" style="margin-bottom: 20px;">
                        <label>
                            <input type="radio" name="generate_data" value="bootstrap" {% if generate_data == 'bootstrap' %}checked{% endif %}>
                            Bootstrap
                            <input type="text" style="visibility: hidden">
                        </label>
                    </div>
                    <div class="radio" style="margin-bottom: 20px;">
                        <label>
                            <input type="radio" name="generate_data" value="crossvalidation" {% if generate_data == 'crossvalidation' %}checked{% endif %}>
                            Cross-validation (n)
                            <input type="text" class="form-control" value="{{ cross_part ? cross_part : 5 }}" id="cross_part" name="cross_part">
                        </label>
                    </div>

                    <button name="form_type" type="submit" class="btn btn-default" value="train">Train</button>
                </div>


                <div class="form-group" style="margin-top: 10px;">
                    <button name="form_type"
                            type="submit"
                            class="btn btn-success"
                            {% if not executeEnabled %} disabled {% endif %}
                            value="execute">Execute</button>
                </div>


            </div>
        </form>
        <div class="col-md-4">
            <code style="padding: 15px; background: #f2f2f2; width: 100%; height: 250px; display: block">{{ output }}</code>
        </div>
    </div>
{% endblock %}
